/* Plot1.css */

/* 1px schwarze Border für den Handle (Kreis) */
.custom-switch .react-switch-handle {
  border: 1px solid black;
}

/* Optional: Entferne die rechte Grid-Linie, falls sie immer noch sichtbar ist */
.custom-switch .react-switch-bg .react-switch-thumb {
  border: none;
}

.x-grid > .domain {
  display: none !important;
}

.y-grid > .domain {
  display: none !important;
}
